<% provide(:title, "Planner") %>
<header>
  <%= render "shared/nav2"%>

  <ul class="side-nav fixed" id="mobile-demo">
    <li style="height: 120px"><a style="height: 120px" href="#"><img class="textShadow brand-logo" style="height: 70px; top:15px; margin-left: 5px;" src="/planner/img/logo03.png"></a></li>
    <% if user_signed_in? %>
    <li class="no-padding grey lighten-4">
      <ul class="collapsible collapsible-accordion">
        <li>
          <!-- <a class="collapsible-header black-text grey lighten-4"><%= current_user.name %><i class="right black-text fa fa-caret-down"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to 'Profile', profile_path, class: "orange-text waves-effect waves-orange" %></li>
              <li><%= link_to 'Edit', edit_user_registration_path, class: "orange-text waves-effect waves-orange" %></li>
              <li class="divider"></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "grey lighten-4 black-text waves-effect waves-orange"%></li>
            </ul>
          </div> -->
        </li>
      </ul>
    </li>
    <% end %>
    <ul class="tabs">
      <li class="tab"><a class="active" href="#build2D"><i class="flaticon-vector-1 orange-text"></i></a></li>
      <li class="tab"><a href="#equipments"><i class="flaticon-oven orange-text"></i></a></li>
    </ul>

    <div id="build2D" class="col s12">
      <ul>
        <li class="liShapes">
          <div class="row center assetMenu">
            <div class="col s6 borderAsset">
              <i class="left shapes-square orange-text"></i>
            </div>
            <div class="col s6 borderAsset">
              <i class="left shapes-perfect-circle orange-text"></i>
            </div>
          </div>
        </li>
        <li class="liShapes">
          <div class="row center assetMenu">
            <div class="col s6 borderAsset">
              <i class="left shapes-triangle-shape orange-text"></i>
            </div>
            <div class="col s6 borderAsset">
              <i class="left shapes-octagon-outline-shape orange-text"></i>
            </div>
          </div>
        </li>
        <li class="liShapes">
          <div class="row center assetMenu">
            <div class="col s6 borderAsset">
              <i class="left shapes-hexagon-geometrical-shape-outline orange-text"></i>
            </div>
            <div class="col s6 borderAsset">
              <i class="left shapes-square orange-text"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div id="equipments" class="col s12">
      <ul>
        <li style="padding:5px;">
          <nav class="grey lighten-4" style="height:50px">
            <div class="nav-wrapper">
              <form>
               <div class="input-field"  style="height:50px">
                 <input id="search" type="search" required>
                 <label for="search"><i class="fa fa-search orange-text"></i></label>
               </div>
             </form>
           </div>
          </nav>
         </li>
         <li class="no-padding">
           <ul class="collapsible collapsible-accordion">
             <li class="bold"><a class="collapsible-header waves-effect waves-orange">Categorie3</a>
               <div class="collapsible-body">
                 <ul>
                   <% @equipments.each do |equipment| %>
                   <li class="liasset">
                     <div class="row center assetMenu">
                       <div class="col s6 borderAsset">
                         <div ondragend="addCollada('<%= equipment.collada_url%>')"> <img  src="<%= equipment.image_url%>" id="<%= equipment.code%>" style="height: 70%;width: 70%;" /></div>
                       </div>
                       <div class="col s6 borderAsset">
                         <div ondragend="addCollada('<%= equipment.collada_url%>')"> <img  src="<%= equipment.image_url%>" id="<%= equipment.code%>" style="height: 70%;width: 70%;" /></div>
                       </div>
                     </div>
                   </li>

                   <% end %>
                 </ul>
               </div>
             </li>
         </ul>
       </div>
  </ul>
  </ul>
</header>
<div id="three" style="background-color: rgb(240, 240, 240);"></div>
