<% provide(:title, "Planner") %>
<header>
  <%= render "shared/nav2"%>

  <ul class="side-nav fixed" id="mobile-demo">
    <li style="height: 120px"><a style="height: 120px" href="#"><img class="textShadow brand-logo" style="height: 70px; top:15px; margin-left: 5px;" src="/planner/img/logo03.png"></a></li>
    <% if user_signed_in? %>
    <li class="no-padding grey lighten-4">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header black-text grey lighten-4"><%= current_user.name %><i class="right black-text fa fa-caret-down"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to 'Profile', edit_user_registration_path, class: "grey lighten-4 black-text waves-effect waves-light" %></li>
              <li class="divider"></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "grey lighten-4 black-text waves-effect waves-light"%></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <% end %>
    <ul class="tabs">
      <li class="tab"><a class="active" href="#build"><i class="flaticon-vector-1 orange-text"></i></a></li>
      <li class="tab"><a href="#equipments"><i class="flaticon-oven orange-text"></i></a></li>
    </ul>

    <div id="build" class="col s12">
       Layout
    </div>

    <div id="equipments" class="col s12">
      <ul>
       <li class="no-padding">
         <ul class="collapsible collapsible-accordion">
           <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Categorie3</a>
             <div class="collapsible-body">
               <ul>
                 <% @equipments.each do |equipment| %>
                 <li>
                   <div class="row center">
                     <div class="col s6">
                       <div ondragend="addCollada('<%= equipment.collada_url%>')"> <img  src="<%= equipment.image_url%>" id="<%= equipment.code%>" style="height:80px; width:80px;" /></div>
                     </div>
                     <div class="col s6">
                       <div ondragend="addCollada('<%= equipment.collada_url%>')"> <img  src="<%= equipment.image_url%>" id="<%= equipment.code%>" style="height:80px; width:80px;" /></div>
                     </div>
                   </div>
                 </li>

                 <% end %>
               </ul>
             </div>
           </li>
         </ul>
       </div>
  </ul>
  </ul>
</header>
<div id="three" style="background-color: rgb(240, 240, 240);"></div>
