<% provide(:title, "Forgot") %>

<%= render "shared/nav1"%>
<br><br><br><br>
<div class="container">
  <h3 class="orange-text center">Forgot your password?</h3>
  <div class="row" >
    <%= devise_error_messages! %>
    <div class="col s6 offset-m3">
      <div class="card-panel z-depth-5">
        <div class="row">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "col s12 m11", method: :post }) do |f| %>

        <div class="input-field col s12 m12">
          <i class="fa fa-envelope-o prefix orange-text"></i>
          <%= f.email_field :email, autofocus: true, id: "icon_email", html:{type: "email"} %>
          <label for="icon_email">email</label>
        </div>

        <div class="actions input-field col s12 m11 offset-m1">
          <%= f.submit "Send me reset pass instructions", class: "btn orange waves-effect waves-light"%>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
