<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/planner/img/shortcut.png" type="image/x-icon">
    <link rel="icon" href="/planner/img/shortcut.png" type="image/x-icon">
    <!--  CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
  <!--  Scripts -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
